$medium: 760px;
$linkblue: #0066cc;
// http://paletton.com/#uid=72G0N0k8itH4JVv4QLebfn2bsg3
// headers and picture outline
$dkblue: #41A8DF;
$dkerblue: #298EC3;
$lightyellow: #fffb67;
$headers: #4D6774;
$links: #774D55;
$link-hover: #4D6774;
$gray: #ccc ;
$light-gray: lighten(#CDE4EF, 30%);
$nav-hover: white;
$article-bg: lighten(#E0F9D4, 50);
$small: 320px;
$medium: 760px;
$large: 1024px;


* {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}


h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility;
  color: $headers;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.5em;
  color: $headers;
}

h3 {
  font-size: 1em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 1em;
}

h2.archive-entry-title {
  a {
    font-size: 1.2em;
  }
}

body {
  width: 65%;
  @media only screen and (max-width: $large) {
    width: 100%;
  }
  margin: auto;
  -webkit-font-smoothing: antialiased;
  color: #333333;
  font-size: 1em;
  background-color: #fdf5e8;
}

div.wrapper {
  padding: .5em;
  background-color: white;
  background-color: #fdf5e8;
}

a {             
  color: $links;
  text-decoration: none;
}

a:hover {
  color: $link-hover;
}

ol {
  margin: 0px;
  padding: 0px;
  ul.posts, li.posts {
    list-style-type: none;
  }
  ul, li {
    list-style-type: disc;
  }
}


// **************************   START HEADER
header.banner {
  position: relative;
  margin: 0px auto;
  text-align: center;
  div.navigation {
    margin-bottom: 1em;
    ol {
      display: inline;
    }
    text-align: right;
    right: 120px;
    top: 320px;
    a:hover {
      background-color: $link-hover;
      color: $nav-hover;
    }
    a {
      padding: 5px 10px 5px 10px;
      border-radius: 2px;
      text-decoration: none;
      // @media all and (max-width: $large) {
      //   font-size: 2em;
      // }
      // @media all and (max-width: $large) {
      //   font-size: 1.5em;
      // }
      color: $links;
      display: inline-block;
      border: 1px solid $gray;
    }
  }
}
// ******************************** END HEADER


div.entry-content {
  // border-top: 1px solid black;
  color: #292f33;
  margin-bottom: 2em;
  margin-top: 1em;
  background-color: white;
  padding: 1em;
 
  a:link, a:visited  {
    color: $linkblue;
  }
  
  a:hover {
    color: darken($linkblue, 20%);
  }
  
  pre {
    padding: .5em;
    margin: auto;
    width: 90%;
    @media only screen and (max-width: $medium) {
      width: 100%;
    } 
    font-size: 1em;
  } 
  ul {
    padding-left: 2em;
    list-style-type: circle;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
// about and archives div wrapper
div.page-wrapper, div.archives-wrapper {
  padding: 30px;
  font-size: 1.2em;
  background-color: $article-bg;
}
div.archives-wrapper {
  table.archives {
    font-size: .8em;
    width: 100%;
    td {
      padding: 5px ;
    }
    td.even {
      background-color: $light-gray;
    }
    td.date {
      font-family: Fixed, monospace;
      width: 100px;
    }
    td.odd {
      background-color: darken($light-gray, 5%);
    }
  }
}

// ************* Footer
footer#page-footer {
  font-size: .8em;
  text-align: center;
  width: 100% ;
  margin-top: 20px;
  margin-bottom: 20px;
}
