<head>
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ if .Description }}{{ .Description }}{{ else if .Summary }}{{ .Summary }}{{ else }}{{ .Site.Params.Description }}{{ end }}">
  <meta name="author" content="{{ .Params.Author | default .Site.Author.name }}">
  
  <!-- Preload critical fonts -->
  {{- $baseURL := .Site.BaseURL | default "/" | strings.TrimSuffix "/" -}}
  <link rel="preload" href="{{ $baseURL }}/font/AtkinsonHyperlegible-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="{{ $baseURL }}/font/AtkinsonHyperlegible-Bold.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  
  <!-- Canonical URL -->
  <link rel="canonical" href="{{ .Permalink }}">
  
  <!-- JSON-LD Structured Data -->
  <script type="application/ld+json">
  {{ if .IsHome }}
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "name": "{{ .Site.Title }}",
    "url": "{{ .Site.BaseURL }}",
    "description": "{{ .Site.Params.Description }}",
    "author": {
      "@type": "Person",
      "name": "{{ .Site.Author.name | default "Jarv" }}"
    }
  }
  {{ else if .IsPage }}
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "headline": "{{ .Title }}",
    "url": "{{ .Permalink }}",
    "datePublished": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}",
    "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}",
    "author": {
      "@type": "Person",
      "name": "{{ .Params.Author | default .Site.Author.name | default "Jarv" }}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "{{ .Site.Title }}",
      "url": "{{ .Site.BaseURL }}"
    },
    "description": "{{ if .Description }}{{ .Description }}{{ else if .Summary }}{{ .Summary }}{{ else }}{{ .Site.Params.Description }}{{ end }}",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ .Permalink }}"
    }{{ if .Params.tags }},
    "keywords": [{{ range $i, $tag := .Params.tags }}{{ if $i }}, {{ end }}"{{ $tag }}"{{ end }}]{{ end }}
  }
  {{ end }}
  </script>
  
  {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
  <style>
    {{ partial "chromastyles.github.css" . | safeCSS }}
    @media (prefers-color-scheme: dark) {
      {{ partial "chromastyles.solarized-dark.css" . | safeCSS }}
    }
  </style>
  <style>{{ partial "style.css" . | safeCSS }}</style>
  {{/* Extend head - eg. for custom analytics scripts, etc. */}}
  {{ if templates.Exists "partials/extend-head.html" }}
    {{ partial "extend-head.html" .Site }}
  {{ end }}

  <script src="{{ .Site.Params.smEmbed }}"></script>
</head>
