@media only screen and (width <= 800px) {
  .about > img {
    width: 100%;
    text-align: center;
  }

}

@media only screen and (width > 800px) {
  .contact {
    display: flex;
    flex-direction: row;
  }

  .contact > img {
    max-width: 200px;
    max-height: 200px;
  }

  .contact > .text {
    padding-left: 1em;
  }
}

div#like {
  font-size: 14px;
  margin-bottom: 1em;
  display: none;
}

div#like button {
  font-family: 'Courier New', monospace;
  border: 0 solid #333;
  border-radius: 50%;
  padding: 5px;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  box-shadow: none;
  font-size: 16px;
  height: 35px;
  width: 35px;
  background-color: #F0F0F4;
}

div#like button:active {
  transform: scale(0.96);
  border: 1px solid gray;
}

@media (hover: hover) {
  div#like button:hover {
    border: 1px solid gray;
  }
}

div#like span {
  filter: grayscale(100%);
  color: #888;
  font-family: 'Courier New', monospace;
}

.no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-select:focus {
  outline: none !important;
}

@media (prefers-color-scheme: dark) {
  div#like button {
    background-color: black;
  }

  div#like button:active {
    border: 1px solid dimgray;
  }

  @media (hover: hover) {
    div#like button:hover {
      border: 1px solid dimgray;
    }
  }
}
