<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
  <head>
    {% block head %}

    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <!-- <meta name="viewport" content="width=device-width, target-densitydpi=device-dpi, initial-scale=0, maximum-scale=1, user-scalable=yes"> -->
    <meta name="viewport" content="width=device-width">
    <!-- CSS -->
    <link rel="stylesheet" href="/theme/css/normalize.min.css">
    <link rel="stylesheet" href="/theme/css/{{ CSS_FILE }}" type="text/css" />
    <link rel="stylesheet" href="/theme/css/pygments.css" type="text/css" />
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% endblock head %}
    <script src="http://api.html5media.info/1.1.8/html5media.min.js"></script>
  </head>

  <body>
    <div class="wrapper">
    <header class="banner">
      <div class="navigation">
        {% for title, link in MENUITEMS %}
        <a href="{{ link }}">{{ title }}</a>
        {% endfor %}
      </div><!-- /#menu -->

    </header>

    <div class="content">{% block content %}{% endblock %}</div>

    <footer id="page-footer">
      <div>
        {% for name, link in SOCIAL %}
        <a href="{{ link }}"><i class="icon-{{ name }}"></i>  </a>
        {% endfor %}
        {% if EMAIL%}
        <a href="mailto:{{ EMAIL }}"><i class="icon-envelope"></i> </a>
        {% endif %}
      </div>
      <div>
        powered by <a href="http://getpelican.com/">pelican</a> with the <a href="https://github.com/jarv/jarvican">jarvican</a> theme.
      </div>
      <div>The posts on this page represent my views and opinions do not represent those of my employer.</div>
    </footer><!-- /#contentinfo -->
    </div>
    <script src="/theme/js/vendor/modernizr-2.6.2.min.js"></script>
    <script data-goatcounter="https://jarv.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
  </body>
</html>
